
name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Run chmod to make gradlew executable
      run: chmod +x ./gradlew

    - name: Test with Gradle
      run: ./gradlew test
      
    - name: Build with Gradle Wrapper
      run: ./gradlew build

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Upload Files to S3
      run: |
        FILENAME="deploy-$(date +%Y%m%d%H%M%S).zip"
        echo "FILENAME=$FILENAME" >> $GITHUB_ENV
        zip -r ./$FILENAME ./build/libs/*.jar ./appspec.yml ./scripts/*
        aws s3 cp --region ap-northeast-2 ./$FILENAME s3://demo-s3-for-code-deploy

    - name: deploy Code
      run: |
        aws deploy create-deployment \
          --application-name CodeDeploy \
          --deployment-config-name CodeDeployDefault.AllAtATime \
          --deployment-group-name CodeDeployGroup \
          --s3-location bucket=demo-s3-for-code-deploy,bundleType=zip,key=$FILENAME

  dependency-submission:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
    # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
